<% content_for(:title, t('.title')) %>
<table class="mb-5">
  <thead>
  </thead>
  <tbody>
    <div class="list">
      <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-4">
          <% @lists.each do |list| %>
            <tr>
              <td>
                <%= form_with model: list, local: true, method: :put do |f| %>
                  <%= f.check_box :completed, class: 'form-check-input', id: "completed_#{list.id}", onchange: "this.form.submit()" %>
                  <%= f.label "#{list.name}", class: "form-check-label list_name ml-3" %>
                <% end %>
              </td>
              <td><%= button_to t('defaults.destroy'), list_path(list), method: :delete, class: "btn btn-info ml-3" %></td>
            </tr>
          <% end %>
        <div>
        <%= form_with model: @list, local: true do |f| %>
          <div class="form-group">
            <%= f.text_field :name, class: 'form-control', placeholder: "例）トマト" %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</tbody>
</table>
