<div class="col-sm-12 col-lg-4 mb-3">
  <div id="product-id-<%= product.id %>">
    <div class="card">
      <div class="card-body">
        <%= link_to product.name, product_path(product) %>

          <br>店舗名    特別価格    通常価格</br>
        <% product.product_stores.each do |product_store| %>
          <%= product_store.store.name %>
          <%= product_store.regular_price %> 円
          <%= product_store.discounted_price %> 円
        <% end %>        
      </div>
    </div>
  </div>
</div>