<div class="mb-3">
  <div id="product-id-<%= product.id %>">
    <table class="table table-hover" style="table-layout:fixed;">
      <tbody>
        <% product.product_stores.each do |product_store| %>
          <tr>
            <td><%= link_to product.name, product_path(product) %></td>
            <td><%= product_store.store.name %></td>
            <td><%= product_store.regular_price %> 円</td>
            <td><%= product_store.discounted_price %> 円</td>
            <td>
              <% product.categories.each do |category| %>
                <%= link_to category.category_name, products_path(category_id: category.id), class:'badge bg-secondary text-decoration-none text-white' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>