<div class="mb-3">
  <div id="product-id-<%= product.id %>">
    <table class="table table-hover" style="table-layout:fixed;">
      <tbody>
        <% product.product_stores.each do |product_store| %>
          <tr class="product_idx">
            <td><%= link_to product.name, product_path(product), class: "name" %></td>
            <td><%= product_store.store.name %></td>
            <td><%= product_store.discounted_price %> 円</td>
            <td>
              <% product.categories.each do |category| %>
                <div class="badge bg-secondary text-decoration-none text-white">
                  <%= category.category_name %>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>