<%= search_form_for @q, url: url do |f| %>
  <div class="form-group">
    <%= f.label 'キーワード検索' %>
    <%= f.search_field :name_or_stores_name_cont, class: 'form-control', placeholder: t('defaults.search_word') %>
  </div>
  <div class="form-group">
    <%= f.label '価格検索' %>
    <div class="row">
      <div class="col">
        <%= f.number_field :product_stores_regular_price_gteq, class: 'form-control', placeholder: "Min" %>
      </div>
      ~
      <div class="col">
        <%= f.number_field :product_stores_discounted_price_lteq, class: 'form-control', placeholder: "Max" %>
      </div>
    </div>
  </div>
  <%= f.submit class: 'btn btn-primary mb-3' %>
<% end %>